<body style="font-family: Arial, Helvetica, sans-serif">
  <h2>Hello $firtName,</h2>
  <p>
    Your reservation has been confirmed! <br />Visit
    <a href="http://localhost:3000/my-reservation">here</a> to view your
    reservations
  </p>
  <div
    style="
      margin: 5px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid black;
      background-color: whitesmoke;
    "
  >
    <label><strong>Room & Hotel :</strong> $roomAndHotel</label><br />
    <label><strong>From :</strong> $fromDate</label><br />
    <label><strong>To :</strong> $toDate</label><br />
    <label><strong>No. of Adults :</strong> $nAdults</label><br />
    <label><strong>No. of Children :</strong> $nChildren</label><br />
    <label><strong>Amount Paid :</strong> $amountPaid</label><br />
    <label><strong>Date Paid :</strong> $datePaid</label><br /><br /><br />
    <label><i>$reservationDate</i></label
    ><br />
  </div>
</body>
